<h1>Ton profil :</h1>

<p>Prénom : <%= @user.first_name %></p>
<p>Nom : <%= @user.last_name %></p>
<p>Email : <%= @user.email %></p>
<p>Description : <%= @user.description %></p>
<%= link_to "Editer le profil", edit_user_registration_path(@user.id) %>

<div class="card-deck">
	<% @events.each do |event| %>
	<div class="col-3">
		<div class="card mb-4">
			<%= link_to "#{event.title}", event_path(event.id), class: "card-title"%>
		</div>
	</div>
	<% end %>
</div>


<h3>Photo de profile</h3>
<%if @user.picture.attached?%>
  <%= image_tag @user.picture, alt: 'picture' %>
<%else%>
  <p> <%= image_tag('moustach.jpg') %>	</p>
<%end%>

<%= form_tag user_pictures_path(@user), multipart: true do %>
  <%= file_field_tag :picture %>
  <%= submit_tag "mettre à jour" %>
  <% end %>
	</p>